nav{
    width: 20%;
    height: 70%;
    float: left;
    position: relative;
    background-image: url(download.jpg);
    background-size: 100%;
    
}
header{
    width: 100%;
    height: 20%;
    position: relative;
    background-color:rgb(10, 3, 32);
}
section{
width: 70%;
height: 70%;
float: left;
}
footer{
    width: 100%;
    height: 10%;
    float: left;
    position: relative;
    background-color: rgb(10, 3, 32);
}
aside{
    width: 10%;
    height: 70%;
    float: right;
}
iframe{
    width: 100%;
    height: 100%;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
*{
    font-family: "verdana";
    padding:0px ;
    margin:0px ;
}
header h1{
    float: none;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    text-shadow: 5px 5px rgb(130, 130, 130);
    position: relative;
    width: 100%;
    text-align: center;
    top: 50px;
    transform:translateY(0px) ;
}
footer p{
float: none;
text-align: center;
text-decoration: underline;
text-decoration-color: green;
background-image: linear-gradient(rgb(166, 163, 168), rgba(255, 0, 0, 0.815));
position: relative;
top: 50%;
transform:translateY(-50%) ;
}
.fond{
    background-color: rgba(113, 116, 125, 0.541);
}
a:link{
    color: red;
}
a:visited{
    color:green;
}
a:hover{
    color:black;
    background: white;
    
}
a{
    background-color: rgba(49, 2, 79, 0.727);
    transition:background-color 500ms linear;
}
aside img {
    position: relative;
    max-width: 100%;
    width: auto;
    height: 100%;
  }
nav ins {
    color: white;
  }