#table1{
    border-color: blue;
    border-width: 2mm;
    border-style: double;
    border-radius: 5%;
    width: 100%;
}
#table2{
    border-color: red;
    border-width: 3mm;
    border-style: dotted;
    margin-left: 0px;
    margin-right: 0px;
}

#titre{
animation: dvg 3s ease-in normal ;

}
@keyframes dvg {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}